[submodule "utilities/json"]
	path = utilities/json
	url = git@github.com:utk-robotics-2017/json.git
[submodule "utilities/serial"]
	path = utilities/serial
	url = git@github.com:utk-robotics-2017/serial.git
[submodule "utilities/spdlog"]
	path = utilities/spdlog
	url = git@github.com:utk-robotics-2017/spdlog.git
[submodule "utilities/tinyxml2"]
	path = utilities/tinyxml2
	url = git@github.com:utk-robotics-2017/tinyxml2.git
[submodule "utilities/fmt"]
	path = utilities/fmt
	url = git@github.com:utk-robotics-2017/fmt.git
[submodule "utilities/googletest"]
	path = utilities/googletest
	url = git@github.com:utk-robotics-2017/googletest.git
